<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset-8" />
<meta name="viewport" content="width=device-width">
<title>Alterar Responsável</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	src="https://maxcdn.bootstrap.com/bootstrap/3.3.7/js/bootstrap.min.js">
</head>
<body>
	<div class="container">
		<div class="panel-heading" align="center">
			<strong>ALTERAÇÂO DE RESPOSÁVEL</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${responsavel}"
				th:action="@{/responsavel/alteraSalvaResponsavel}" method="GET" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-row col-md-3 mt-3">
							<label for="inputID">ID</label> <input type="text"
								id="inputID" class="form-control input-sm" th:field="*{responsavel_id}"
								autofocus="autofocus" placeholder="Informe o nome completo"
								maxlength="50" required="required" readonly="readonly">
						</div>
						<div class="form-row col-md-3 mt-3">
							<label for="inputNomeCompleto">Nome Completo</label> <input type="text"
								id="inputNomeCompleto" class="form-control input-sm" th:field="*{responsavel_nome_completo}"
								autofocus="autofocus" placeholder="Informe o nome completo"
								maxlength="50" required="required">
						</div>
						<div class="form-row col-md-3 mt-3">
							<label for="inputUsuario">Usuário</label> <input type="text"
								id="inputUsuario" class="form-control input-sm" th:field="*{responsavel_usuario}"
								autofocus="autofocus" placeholder="Informe o usuário"
								maxlength="50" required="required">
						</div>
						<div class="form-row col-md-3 mt-3">
							<label for="inputTelefone">Telefone</label> <input type="text"
								id="inputTelefone" class="form-control input-sm" th:field="*{responsavel_telefone}"
								autofocus="autofocus" placeholder="Informe o telefone"
								maxlength="50" required="required">
						</div>
						<div class="form-row col-md-3 mt-3">
							<label for="inputEmail">E-mail</label> <input type="text"
								id="inputEmail" class="form-control input-sm" th:field="*{responsavel_email}"
								autofocus="autofocus" placeholder="Informe o e-mail"
								maxlength="50" required="required">
						</div>
						<div class="form-row col-md-3 mt-3">
							<label for="inputSenha">Senha</label> <input type="text"
								id="inputSenh" class="form-control input-sm" th:field="*{responsavel_senha}"
								autofocus="autofocus" placeholder="Informe o senha"
								maxlength="50" required="required">
						</div>
						<div class="form-row col-md-3 mt-3">
							<label for="inputStatus">Status</label> <input type="text"
								id="inputStatus" class="form-control input-sm" th:field="*{responsavel_status}"
								autofocus="autofocus" placeholder="Informe o status"
								maxlength="50" required="required">
						</div>
					</fieldset>
				</div>
				<div align="center">
					<button type="submit" class="btn btn-sm btn-success">SALVAR</button>
					<a th:href="@{/responsavel/responsaveis}" class="btn btn-sm btn-default">CANCELAR</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>